# Development

NEXT_PUBLIC_SUPABASE_URL=https://eaqrcklnocsnpgowdeyd.supabase.co
# NEXT_PUBLIC_SUPABASE_URL=https://kckdkipdodkfszakqwui.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhcXJja2xub2NzbnBnb3dkZXlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4OTQ1OTQsImV4cCI6MjA4MTQ3MDU5NH0.zOdW3M9b5p11vrUUk9aHmKeirz6YSds4JYVIc9hU8K0
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtja2RraXBkb2RrZnN6YWtxd3VpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4NTY3NDksImV4cCI6MjA3NzQzMjc0OX0.SWePLSl_Ov5I7iFJq3DER6smv6V5UBePdm4R-mbNY3U

PAYSTACK_SECRET_KEY=sk_test_da8a1974d540fe3cdb627805e2b49692f19330d8

NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_f10abb517db53eb1e617c43800b96f3bc5e0301a

# NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=https://abc123.ngrok.io

INNGEST_BASE_URL=https://accezzlive.com

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtja2RraXBkb2RrZnN6YWtxd3VpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTg1Njc0OSwiZXhwIjoyMDc3NDMyNzQ5fQ.2hN4eUwZm8AZsYPkfLijYVJOq2ztuH_rIfnRLx8hKyo

GMAIL_APP_PASSWORD=vxed mpli fxyv txys

GMAIL_USER=accezzlive@gmail.com

NEXT_PUBLIC_GOOGLE_MAP_API_KEY=AIzaSyC3kiXFCOPvD5wKSF3B5rIIx5drqUo9Bgc

INNGEST_EVENT_KEY=H1z3O46q-9LCgOlpbJi1-OR5SQfIGQ8I9mtoXNLjMoZFInylCBOTF00u74j5OyzHnuoSJHDin0ZIoP7cSjZq4Q

INNGEST_SIGNING_KEY=signkey-prod-51ff29d3beaa10bdfadfc9027368083924a618188b8df10f482faa4528817d75


NEXT_PUBLIC_WHATSAPP_BUSINESS_NUMBER=2347018610048
META_WHATSAPP_ACCESS_TOKEN=EAAadCNjlKO0BP13k49yi6ZAyBzxhM2sq5t9yqvTFatR8KyKGgjAu8QWzPppF8IwkwBhCoLOOLiwI0xY847Xwchbf1J04MiHqYjf4wM3SAEp9XHZCpEtWMpU61v3W0ZBSQbKnl0Cos12jDeUpuJ2IiZCBFPZB8OGWO7rFIhZAGG3ZCRHabU76jm032ZAnDdE0SGZBBeCIWsiUVofnAgOXmwYNUOJCDJeIxGyiY
META_PHONE_NUMBER_ID=847954581737312
META_WEBHOOK_VERIFY_TOKEN=whatsapp-bot-verify-5a82

META_GRAPH_API_VERSION=v19.0    
         
PAYSTACK_WHATSAPP_CALLBACK_URL=http://localhost:3000

# Productiom env's

# NEXT_PUBLIC_SUPABASE_URL=https://pcnhxsgobctamkeqdnla.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjbmh4c2dvYmN0YW1rZXFkbmxhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIwMDMxOTEsImV4cCI6MjA3NzU3OTE5MX0.Zt3A4DAmI6AqztTxBibNHihst8HFBkSnRmaF_lJZd-o

# PAYSTACK_SECRET_KEY=sk_live_your_paystack_secret_key_here
# NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_live_your_paystack_public_key_here
# NEXT_PUBLIC_BASE_URL=https://accezzlive.com